.card {

    position: relative;
    width:600px;
    max-width:85vw;
    height: 60vh;
    padding:20px;
    border-radius: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    
}


.card > h3 {
    bottom:12px;
    position: absolute;
    color:white;
}

.card > h2 {
    bottom:28px;
    position: absolute;
    color:white;



}


.cards__allcontains {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
   
}

.swipe {
    position: absolute;
}
